html {
  height: 100vh;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 90vh;
  padding: 0;
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  height: 85vh;
}

.img-container {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.img-container img {
  height: 100%;
}

.img-container img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.modal {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.25 ease-out;
  transition: 0.25 ease-out;
}

.modal p {
  position: absolute;
  bottom: 10%;
  left: 50%;
  color: white;
  font-size: 3rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.full-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.full-img.open {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.polygon {
  position: absolute;
  top: -300px;
  left: -200px;
  z-index: -1;
}

ul.navBar {
  margin: auto;
  width: 60vh;
  height: 10vh;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

ul.navBar li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2.6rem;
  padding: 1rem 3rem;
  border-radius: 35px;
  letter-spacing: .4rem;
  text-align: center;
  cursor: pointer;
}

ul.navBar li a {
  text-decoration: none;
  color: black;
}

ul.navBar .active {
  background: #8ED0E5;
}

ul.navBar .active a {
  color: #fafafa;
}

.home-fullbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 85vh;
}

.home-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  margin-left: 10rem;
  margin-right: 10rem;
  min-height: 45vh;
}

.home-body .info {
  -webkit-box-flex: 7;
      -ms-flex: 7 1 40rem;
          flex: 7 1 40rem;
}

.home-body .info .infoTitle {
  margin-bottom: 1rem;
}

.home-body .info .infoSubtitle {
  margin-bottom: 3rem;
}

.home-body .imgProfile {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  margin: 0rem 3rem;
}

.home-body .programs {
  max-height: 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  align-items: center;
}

.home-body .programs .programTitle {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.home-body .programs .list-programs {
  -webkit-box-flex: 80;
      -ms-flex: 80;
          flex: 80;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-body .programs .list-programs .program {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-body .programs .list-programs .program .imgProgram {
  margin-right: 25px;
}

.home-body .programs .list-programs .program .nameProgram {
  width: 20px;
}

.skill-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 15vh;
}

.skill-section .title-skills {
  text-align: center;
  margin: 0px 100px;
}

.skill-section .list-skills {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
}

.skill-section .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill-section .skill .nameSkill {
  margin-left: 25px;
}

.footer {
  background-color: #8ED0E5;
  width: 100%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .author {
  color: white;
  font-size: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 25px;
}

.underlineSpecial {
  border-radius: 10px;
  -webkit-box-shadow: 0 30px 0 0 #8ED0E5;
          box-shadow: 0 30px 0 0 #8ED0E5;
  height: 5px;
}

.header1 {
  font-size: 4rem;
}

.header2 {
  font-size: 3rem;
}

.header3 {
  font-size: 2.5rem;
}

.text {
  font-size: 2rem;
}
/*# sourceMappingURL=style.css.map */